.history__container {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.history__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.history__dialog_content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
